<% layout("/boilerplate/index") %>
<div class="help-main">
    <center>
    <div class="card mt-3" style="width: 500px; text-align: left; padding: 20px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; border: none;">
        <h2>Emergency numbers</h2>
        <p><b>Police : </b> <span style="color: #f69988;">100</span></p>
        <p><b>Fire : </b> <span style="color: #f69988;">101</span></p>
        <p><b>Ambulance : </b> <span style="color: #f69988;">102</span></p>
        <p><b>Women Helpline : </b> <span style="color: #f69988;">1091</span></p>
        <p><b>Women Helpline - ( Domestic Abuse ) : </b> <span style="color: #f69988;">181</span></p>
        <p><b>Pan-India Emergency Number : </b> <span style="color: #f69988;">112</span></p>
        <p><b>Disaster Management Services : </b> <span style="color: #f69988;">108</span></p>
    </div>
    <br>
    <a class="btn" href="/tara" style="width: 500px; padding: 20px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; border: none;"> Chat with Tara</a>
    <br><br>
    <a class="btn" href="https://www.google.co.in/maps/search/hospital+near+me/" style="width: 500px; padding: 20px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; border: none;"> Hospitals Near Me</a>
    <br><br>
    <a class="btn" href="https://www.google.co.in/maps/search/police+near+me/" style="width: 500px; padding: 20px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; border: none;"> Police Stations Near Me</a>
    <br><br>
    <a class="btn" href="/legalresource" style="width: 500px; padding: 20px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; border: none;"> More Legal resources</a>
    </center>
</div>

</div>