<% layout("/boilerplate/index") %>
<div class="hero-section container">
    <div class="hero">
        <img src="/assets/hero.png" alt="">
    </div>
    <div class="hero-text">
        <h1>SURAKSHA</h1>
        <p>Your Safety. Your Voice.</p>
        <br>
        <p>A safety companion app for women to report incidents, view unsafe areas, and get instant help when needed.</p>
        <div class="action-btn">
            <a href="/map" class="btn go-to-map-btn">View Unsafe Areas Near You</a>
            <a href="/tara" class="btn chat-btn">Chat with Tara</a>
        </div>
    </div>
</div>


    <div class="features">
        <h1><center>Features</center></h1>
        <div class="feature-cards row justify-content-center">
            <div class="card col-3">
                <center>
                    <div class="feature-icon">
                        <i class="fa-solid fa-person-dress-burst fa-2xl"></i>
                    </div>
                </center>
                <h2>Report Incidents</h2>
                <p>Share your experiences anonymously to help us identify patterns and create safer spaces.</p>
            </div>
            <div class="card col-3">
                <center>
                    <div class="feature-icon">
                        <i class="fa-solid fa-handshake-angle fa-2xl"></i>
                    </div>
                </center>
                <h2>Share Tips</h2>
                <p>Contribute to a safer community by sharing tips and advice for others.</p>
            </div>
            <div class="card col-3">
                <center>
                    <div class="feature-icon">
                        <i class="fa-regular fa-comments fa-2xl"></i>
                    </div>
                </center>
                <h2>Chat with Tara</h2>
                <p>Get instant help and support through our AI chatbot, Tara.</p>
            </div>
        </div>
    </div>


    <div class="hero-about-section">
        <div class="hero-about-section-div d-flex justify-content-center align-items-center">
            <div class="hero-about-image" style="width: 40%;">
                <img src="/assets/landingL.png" width=300 alt="">
            </div>
            <div class="hero-about-text" style="width: 40%;">
                <p style="font-size: 25px;"><b>“Every day</b>, women face harassment in public spaces, but most incidents go unreported.<b>"</b></p>
            </div>
        </div>
        <div class="hero-about-section-div d-flex justify-content-end align-items-center">
            <div class="hero-about-text" style="width: 40%;">
                <p style="font-size: 25px;"><b>"</b>Our app makes it easy to report incidents anonymously, view unsafe zones on a map.<b>"</b></p>
            </div>
            <div class="hero-about-image" style="width: 40%;">
                <img src="/assets/landingR.png" width=300 alt="">
            </div>
        </div>
    </div>