<% layout("/boilerplate/index") %>
<!-- Ensure Bootstrap CSS is loaded -->
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
/>

<div class="mainContent width100" style="width: 90%">
  <h2 class="mb-2 faqsTitle">Under the Bharatiya Nyaya Sanhita, 2023 (BNS)</h2>
  <hr />
  <div class="accordion text1" id="faqAccordion">
    <div class="card mb-4">
      <div class="card-header" id="heading1">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed w-100 text-left"
            type="button"
            data-toggle="collapse"
            data-target="#collapse1"
            aria-expanded="false"
            aria-controls="collapse1"
          >
            Domestic Violence
          </button>
        </h5>
      </div>
      <div
        id="collapse1"
        class="collapse"
        aria-labelledby="heading1"
        data-parent="#faqAccordion"
      >
        <div class="card-body">
          <p>
            <span style="color: #592d8d"
              >What offenses are outlined in the BNS surrounding Domestic
              Violence?</span
            >
          </p>
          <p><span style="color: #592d8d">For Cruel Behaviour:</span></p>
          <p>
            According to Section 85 of the Bharatiya Nyaya Sanhita 2023, a
            husband or his relative commits an offense if they subject a woman
            to cruel behavior.&nbsp;
          </p>
          <p>The behavior can be considered cruel if it includes:&nbsp;</p>
          <ol>
            <li>
              Any deliberate behavior likely to drive the woman to suicide or
              cause serious harm to her limbs, health (mental or physical), or
              life. (Section 86, BNS 2023)
            </li>
            <li>
              Any harassment aimed at forcing the woman or her relatives to meet
              illegal demands for any property or valuables, or because they
              failed to meet such demands. (Section 86, BNS 2023)
            </li>
          </ol>
          <p>
            The <span style="color: #592d8d">punishment</span> is imprisonment
            for a term that can extend up to 3 years and a fine.
          </p>
          <p><span style="color: #592d8d">For Assault/Use of Force:</span></p>
          <p>
            According to Section 74 of the Bharatiya Nyaya Sanhita, a husband
            commits an offense if he assaults or uses force against his wife
            with the intention to embarrass, shame, or degrade her modesty
            (i.e., her sense of decency and self-respect), or if he knows that
            his actions are likely to have such an effect.&nbsp;
          </p>
          <p>
            The <span style="color: #592d8d">punishment</span> is imprisonment
            for a term from 1 to 5 years and a fine.
          </p>
        </div>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-header" id="heading2">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed w-100 text-left"
            type="button"
            data-toggle="collapse"
            data-target="#collapse2"
            aria-expanded="false"
            aria-controls="collapse2"
          >
            Rape
          </button>
        </h5>
      </div>
      <div
        id="collapse2"
        class="collapse"
        aria-labelledby="heading2"
        data-parent="#faqAccordion"
      >
        <div class="card-body">
          <p>
            <span style="color: #592d8d"
              >How does the BNS define <strong>Rape</strong> as an
              offense?</span
            >
          </p>
          <p>
            According to Section 63 of the Bharatiya Nyaya Sanhita 2023, rape is
            defined as a punishable offense committed by a man when he
            intentionally penetrates the vagina, mouth, urethra, or anus of a
            woman with his penis, or any other object under the following
            circumstances:&nbsp;
          </p>
          <ol>
            <li>Against the woman's will.</li>
            <li>Without her consent.</li>
            <li>With consent obtained through threat or intimidation.</li>
            <li>With consent obtained by impersonation of her husband.</li>
            <li>
              With consent when the woman is unable to have a sound mind or is
              intoxicated or under the influence of drugs.
            </li>
            <li>With or without consent if the woman is under 18 years old.</li>
            <li>When the woman is unable to communicate consent.</li>
          </ol>
          <p>
            This law is
            <span style="text-decoration: underline">not gender neutral</span>
            as the perpetrator (or rapist) is recognized as a man.&nbsp;
          </p>
          <p>
            <span style="color: #592d8d"
              >Exceptions to the offense include:&nbsp;</span
            >
          </p>
          <ul>
            <li>a medical procedure or intervention&nbsp;</li>
            <li>
              Sexual acts or intercourse between a man and his wife who is over
              18 years old.
            </li>
          </ul>
          <p><span style="color: #592d8d">What is the punishment?</span></p>
          <p>
            The punishment can range from 10 years to life imprisonment, and a
            fine will also be imposed.&nbsp;
          </p>
          <p>
            In certain cases, such as the rape of a girl under 12, a death
            sentence can be issued.
          </p>
          <p>
            <span style="color: #592d8d"
              >How does the BNS address <strong>Gang Rape</strong> as an
              offense?&nbsp;</span
            >
          </p>
          <p>
            According to Section 70 of the Bharatiya Nyaya Sanhita 2023, gang
            rape is defined as a punishable offense when a woman is raped by one
            or more persons acting together or with a common intention.&nbsp;
          </p>
          <p>
            Each person involved is considered to be
            <span style="text-decoration: underline">guilty</span> of the
            crime.&nbsp;
          </p>
          <p>
            The <span style="color: #592d8d">punishment</span> can range from
            imprisonment for a term ranging from 20 years to life imprisonment,
            along with a fine.
          </p>
          <p>
            <em
              >Note: The fine is intended to cover reasonable medical expenses
              and rehabilitation costs for the victim. Any fine imposed is paid
              to the victim.</em
            >
          </p>
          <p>
            <span style="color: #592d8d"
              >Does BNS recognize <strong>marital rape</strong> as a punishable
              offense?</span
            >
          </p>
          <p>No. Marital rape is not recognized as a crime.&nbsp;</p>
          <p>
            However, a victim can
            <span style="text-decoration: underline">still seek justice</span>
            under the Domestic Violence Act 2005 as it addresses sexual abuse.
            (Refer to Domestic Violence Section)
          </p>
          <p>
            Additionally, if a husband or a relative of the husband subjects a
            woman to cruelty, they face
            <span style="color: #592d8d">imprisonment</span> for up to 3 years
            and a fine. "Cruelty" includes behavior likely to cause the woman
            harm or endanger her physical or mental health, as well as
            harassment aimed at coercing her or her relatives to meet unlawful
            demands. (Section 85, Bharatiya Nyaya Sanhita 2023)
          </p>
          <p>
            On the other hand, if a husband rapes his wife without her consent
            <span style="text-decoration: underline"
              >while they are living in separation</span
            >, he can be punished with
            <span style="color: #592d8d">imprisonment</span> for a term ranging
            from 2 to 7 years, along with a fine. (Section 67, Bharatiya Nyaya
            Sanhita 2023)
          </p>
        </div>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-header" id="heading3">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed w-100 text-left"
            type="button"
            data-toggle="collapse"
            data-target="#collapse3"
            aria-expanded="false"
            aria-controls="collapse3"
          >
            Sexual Harassment
          </button>
        </h5>
      </div>
      <div
        id="collapse3"
        class="collapse"
        aria-labelledby="heading3"
        data-parent="#faqAccordion"
      >
        <div class="card-body">
          <p>
            <span style="color: #592d8d"
              >What offenses are outlined in the BNS surrounding sexual
              harassment?</span
            >
          </p>
          <p>
            According to Section 75 of the Bharatiya Nyaya Sanhita 2023, sexual
            harassment is defined as a punishable offense committed by a man
            when he commits any of the following acts:&nbsp;
          </p>
          <ol>
            <li>
              Makes unwelcome physical contact and advances with explicit sexual
              intent.
            </li>
            <li>Requests or demands sexual favors.</li>
            <li>Shows pornography against a woman's will.</li>
            <li>Makes sexual remarks.</li>
          </ol>
          <p><span style="color: #592d8d">What is the punishment?</span></p>
          <p>
            For physical contact, requests for sexual favors, or showing
            pornography, the penalty involves imprisonment for up to 3 years, a
            fine, or both.
          </p>
          <p>
            For making sexual remarks, the penalty involves imprisonment for up
            to 1 year, a fine, or both.
          </p>
        </div>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-header" id="heading4">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed w-100 text-left"
            type="button"
            data-toggle="collapse"
            data-target="#collapse4"
            aria-expanded="false"
            aria-controls="collapse4"
          >
            Assault/ Touching/ Groping
          </button>
        </h5>
      </div>
      <div
        id="collapse4"
        class="collapse"
        aria-labelledby="heading4"
        data-parent="#faqAccordion"
      >
        <div class="card-body">
          <p>
            <span style="color: #592d8d"
              >What offenses are outlined in the BNS surrounding assault?</span
            >
          </p>
          <p>
            <span style="color: #592d8d">Use of Force To Degrade A Woman:</span>
          </p>
          <p>
            According to Section 74 of the Bharatiya Nyaya Sanhita 2023, anyone
            who assaults or uses force on a woman to embarrass, shame, or
            degrade her modesty (i.e sense of decency and self-respect), or
            while knowing that the assault on her will likely do so, will
            be&nbsp;<span style="color: #592d8d">punished</span>&nbsp;with
            imprisonment from 1 to 5 years and a fine.
          </p>
          <p>
            <span style="color: #592d8d">Use of Force To Undress A Woman:</span>
          </p>
          <p>
            According to Section 76 of the Bharatiya Nyaya Sanhita 2023, anyone
            who assaults or uses force on a woman, or helps someone do so, to
            disrobe her or force her to be naked, will be&nbsp;<span
              style="color: #592d8d"
              >punished</span
            >&nbsp;with imprisonment from 3 to 7 years and a fine.
          </p>
        </div>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-header" id="heading5">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed w-100 text-left"
            type="button"
            data-toggle="collapse"
            data-target="#collapse5"
            aria-expanded="false"
            aria-controls="collapse5"
          >
            Eve teasing/ Whistling/ Gestures
          </button>
        </h5>
      </div>
      <div
        id="collapse5"
        class="collapse"
        aria-labelledby="heading5"
        data-parent="#faqAccordion"
      >
        <div class="card-body">
          <p>
            <span style="color: #592d8d"
              >What offenses are outlined in the BNS surrounding Eve
              teasing?</span
            >
          </p>
          <p>
            According to Section 79 of the Bharatiya Nyaya Sanhita 2023, a
            person commits an offense if they:
          </p>
          <ol>
            <li>
              Intend to insult a woman's modesty (sense of dignity) by saying
              offensive words, making disrespectful sounds or gestures, or
              showing inappropriate objects that the woman can hear or see.
            </li>
            <li>Invade a woman's privacy.</li>
          </ol>
          <p><span style="color: #592d8d">What is the punishment?</span></p>
          <p>
            The punishment is imprisonment for a term that can extend up to 3
            years and a fine.
          </p>
        </div>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-header" id="heading1">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed w-100 text-left"
            type="button"
            data-toggle="collapse"
            data-target="#collapse1"
            aria-expanded="false"
            aria-controls="collapse1"
          >
            Voyeurism/ Taking photos without permission
          </button>
        </h5>
      </div>
      <div
        id="collapse1"
        class="collapse"
        aria-labelledby="heading1"
        data-parent="#faqAccordion"
      >
        <div class="card-body">
          <p>
            <span style="color: #592d8d"
              >What offenses are outlined in the BNS surrounding
              voyeurism?</span
            >
          </p>
          <p>
            According to Section 77 of the Bharatiya Nyaya Sanhita 2023, a
            person commits the offense of voyeurism when they:
          </p>
          <ol>
            <li>
              Watch or take an image of a woman in a private act where she
              expects privacy.
            </li>
            <li>Share such an image with others.</li>
          </ol>
          <p>
            A <span style="color: #592d8d">“private act”</span> includes any
            action done in a place expected to provide privacy and where the
            victim's genitals, posterior, or breasts are exposed or the victim
            is only in underwear.
          </p>
          <p>For example: when the victim is using the toilet.</p>
          <p>
            <span style="color: #592d8d">Exception</span>: If the victim
            consents to the taking of intimate images but not to their sharing,
            it is an offense for the perpetrator to share these images with
            others.
          </p>
          <p><span style="color: #592d8d">What is the punishment?</span></p>
          <p>
            For first-time offenders, the punishment is imprisonment for a term
            not less than 1 year, which may extend to 3 years, and a fine.
          </p>
          <p>
            For repeat offenders, the punishment is imprisonment for a term not
            less than 3 years, which may extend to 7 years, and a fine.
          </p>
        </div>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-header" id="heading2">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed w-100 text-left"
            type="button"
            data-toggle="collapse"
            data-target="#collapse2"
            aria-expanded="false"
            aria-controls="collapse2"
          >
            Indecent Exposure/ Masturbation in public
          </button>
        </h5>
      </div>
      <div
        id="collapse2"
        class="collapse"
        aria-labelledby="heading2"
        data-parent="#faqAccordion"
      >
        <div class="card-body">
          <p>
            <span style="color: #592d8d"
              >What offenses are outlined in the BNS surrounding Indecent
              Exposure/Masturbation?</span
            >
          </p>
          <p>
            <span style="color: #592d8d">Indecent Exposure:</span> This act
            involves displaying one's genitals or other intimate areas in sexual
            behavior in public, which can be akin to showing pornography
            (Section 75(3) BNS) or making unwelcome sexual advances (Section
            75(1) BNS). Both acts are considered forms of sexual harassment
            under the law.
          </p>
          <p>
            <span style="color: #592d8d">Masturbation:</span> When done in
            public or in a manner that is visible to others, masturbation can
            also be seen as a form of unwelcome physical contact or sexual
            advance (Section 75(1) Bhartiya Nyaaya Sanhita). This act is also
            considered a form of sexual harassment under the law.
          </p>
          <p><span style="color: #592d8d">What is the punishment?</span></p>
          <p>
            The punishment is imprisonment for up to 3 years, a fine, or both.
          </p>
        </div>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-header" id="heading3">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed w-100 text-left"
            type="button"
            data-toggle="collapse"
            data-target="#collapse3"
            aria-expanded="false"
            aria-controls="collapse3"
          >
            Stalking
          </button>
        </h5>
      </div>
      <div
        id="collapse3"
        class="collapse"
        aria-labelledby="heading3"
        data-parent="#faqAccordion"
      >
        <div class="card-body">
          <p>
            <span style="color: #592d8d"
              >What offenses are outlined in the BNS surrounding stalking?</span
            >
          </p>
          <p>
            According to Section 78 of the Bharatiya Nyaya Sanhita 2023, a man
            commits the offense of stalking if he:
          </p>
          <ol>
            <li>
              Follows a woman and repeatedly contacts or attempts to contact her
              despite a clear indication of disinterest from her.
            </li>
            <li>
              Monitors the use of the internet, email, or any other form of
              electronic communication by a woman.
            </li>
          </ol>
          <p>
            <span style="color: #592d8d"
              >Exceptions to the offense include:&nbsp;</span
            >
          </p>
          <ul>
            <li>
              When he acted to prevent or detect a crime and this responsibility
              was given to him by the government.&nbsp;
            </li>
            <li>
              When he was acting under any law or complying with a legal
              requirement.&nbsp;
            </li>
            <li>
              When in the circumstances, the behaviour was justified and
              reasonable.&nbsp;
            </li>
          </ul>
          <p><span style="color: #592d8d">What is the punishment?</span></p>
          <p>
            For first-time offenders, the punishment is imprisonment for up to 3
            years and a fine.
          </p>
          <p>
            For repeat offenders, the punishment is imprisonment for up to 5
            years and a fine.
          </p>
        </div>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-header" id="heading4">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed w-100 text-left"
            type="button"
            data-toggle="collapse"
            data-target="#collapse4"
            aria-expanded="false"
            aria-controls="collapse4"
          >
            Online Harassment
          </button>
        </h5>
      </div>
      <div
        id="collapse4"
        class="collapse"
        aria-labelledby="heading4"
        data-parent="#faqAccordion"
      >
        <div class="card-body">
          <p>
            <span style="color: #592d8d"
              >What offenses are outlined in the BNS surrounding Online
              Harassment?</span
            >
          </p>
          <p>
            <span style="color: #592d8d">Defamation:</span> This offense occurs
            when a person makes or publishes statements intended to cause harm
            to the victim's reputation. This includes statements made online,
            whether spoken, written, or through signs.&nbsp;
          </p>
          <p>
            The punishment is imprisonment for up to 2 years, a fine, or both,
            or with community service. (Section 356, BNS 2023)
          </p>
          <p>
            <span style="color: #592d8d">Cyberstalking:</span> A man commits
            this offense if he monitors (or “stalks”) the use of internet
            activities, email, social media, or any other form of electronic
            communication by a woman.&nbsp;
          </p>
          <p>
            The punishment is imprisonment for up to 3 years (or up to 5 years
            for repeat offenders) and a fine. (Section 78, BNS 2023)
          </p>
          <p>
            <span style="color: #592d8d">Revenge Porn:</span> This offense
            occurs when someone intentionally or knowingly captures, publishes,
            or transmits images of another person’s private areas (i.e.
            genitals, buttocks, or breasts) without their consent, thereby
            violating their privacy.&nbsp;
          </p>
          <p>
            The punishment is imprisonment for up to 3 years, a fine of up to 2
            lakh rupees, or both. (Section 66E, IT Act 2000)
          </p>
          <p>
            <span style="color: #592d8d">Online Sexual Harassment:</span> This
            offense occurs when a man commits any of the following acts-&nbsp;
          </p>
          <ol>
            <li>Requesting or demanding sexual favors.</li>
            <li>Showing pornography against a woman's will.</li>
            <li>Making sexual remarks.</li>
          </ol>
          <p>
            The punishment is imprisonment for up to 3 years, (or up to 1 year
            if the offense consists only of sexual remarks online), a fine, or
            both. (Section 75, BNS 2023)
          </p>
        </div>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-header" id="heading5">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed w-100 text-left"
            type="button"
            data-toggle="collapse"
            data-target="#collapse5"
            aria-expanded="false"
            aria-controls="collapse5"
          >
            Chain Snatching / Robbery
          </button>
        </h5>
      </div>
      <div
        id="collapse5"
        class="collapse"
        aria-labelledby="heading5"
        data-parent="#faqAccordion"
      >
        <div class="card-body">
          <p>
            <span style="color: #592d8d"
              >What offenses are outlined in the BNS surrounding Chain
              snatching?</span
            >
          </p>
          <p>
            According to Section 304 of the Bharatiya Nyaya Sanhita 2023, a
            person commits the offense if to commit theft, they suddenly or
            quickly or forcibly take away any movable property (eg: a chain)
            from another person or their possession.
          </p>
          <p><span style="color: #592d8d">What is the punishment?</span></p>
          <p>
            The punishment is imprisonment for a term that can extend up to 3
            years and a fine.
          </p>
        </div>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-header" id="heading5">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed w-100 text-left"
            type="button"
            data-toggle="collapse"
            data-target="#collapse5"
            aria-expanded="false"
            aria-controls="collapse5"
          >
            Human Trafficking
          </button>
        </h5>
      </div>
      <div
        id="collapse5"
        class="collapse"
        aria-labelledby="heading5"
        data-parent="#faqAccordion"
      >
        <div class="card-body">
          <p>
            <span style="color: #592d8d"
              >What offenses are outlined in the BNS surrounding Human
              Trafficking?</span
            >
          </p>
          <p>
            According to Section 143 of the Bharatiya Nyaya Sanhita 2023, a
            person commits the offense if they recruit, transport, harbor,
            transfer, or receive a person to exploit them through any of the
            following:&nbsp;
          </p>
          <ol>
            <li>using threats,&nbsp;</li>
            <li>using force or other forms of coercion,&nbsp;</li>
            <li>abduction,&nbsp;</li>
            <li>fraud or deception,</li>
            <li>abuse of power,&nbsp;</li>
            <li>offers of something valuable, such as payments or benefits.</li>
          </ol>
          <p>
            <span style="color: #592d8d"
              >Here, the exploitation of victims of human trafficking refers
              to:</span
            >
          </p>
          <ul>
            <li>Physical or sexual exploitation,&nbsp;</li>
            <li>Slavery,&nbsp;</li>
            <li>Forced Labour (or Servitude),&nbsp;</li>
            <li>Forced begging, or&nbsp;</li>
            <li>Organ removal.&nbsp;</li>
          </ul>
          <p>
            It does not matter
            <span style="text-decoration: underline">whether or not</span> the
            victim(s) gave consent to the trafficker.&nbsp;
          </p>
          <p><span style="color: #592d8d">What is the punishment?</span></p>
          <p>
            The <span style="color: #592d8d">punishment</span> is imprisonment
            for a term ranging from 7 to 10 years and a fine.&nbsp;
          </p>
          <p>
            If the
            <span style="color: #592d8d"
              >trafficker is a public servant or a police officer</span
            >, the punishment is life imprisonment for the remainder of the
            person's life and a fine.
          </p>
          <p>
            <strong
              >The punishment also differs if the offense involves:</strong
            >
          </p>
          <ol>
            <li>
              Trafficking more than one person: Imprisonment for a term ranging
              from 10 years to life and a fine.&nbsp;
            </li>
            <li>
              Trafficking of a child:&nbsp; Imprisonment for a term ranging from
              10 years to life and a fine.&nbsp;
            </li>
            <li>
              Trafficking of more than one child:&nbsp; Imprisonment for a term
              ranging from 14 years to life and a fine.&nbsp;
            </li>
            <li>
              A repeated offense of trafficking of a child: Life imprisonment
              for the remainder of the person's life and a fine.
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
